@model TransaccionActualizarViewModel
@{
    ViewData["Title"] = "Editar Transaccion";

    // si el linkCancelar es null retornamos a Index
    var linkCancelar = Model.urlRetorno ?? Url.Action("Index");
}

<h1>Editar Transaccion</h1>
<h5>
    Una transacción te permite indicar tus ingresos y gastos.
</h5>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Editar" asp-controller="Transacciones">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="urlRetorno" />
            <input type="hidden" asp-for="MontoAnterior" />
            <input type="hidden" asp-for="CuentaAnteriorId" />

            <div class="mb-3">
                <label asp-for="FechaTransaccion" class="form-label"></label>
                <input asp-for="FechaTransaccion" class="form-control" />
                <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CuentaId" class="form-label"></label>
                <select asp-for="CuentaId" class="form-select" asp-items="@Model.Cuentas"></select>
                <span asp-validation-for="CuentaId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TipoOperacionId" class="form-label"></label>
                <select asp-for="TipoOperacionId" class="form-select" asp-items="@Html.GetEnumSelectList<TipoOperacion>()"></select>
                <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoriaId" class="form-label"></label>
                <select asp-for="CategoriaId" class="form-select" asp-items="@Model.Categorias"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Monto" class="form-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Nota" class="form-label"></label>
                <textarea asp-for="Nota" class="form-control"></textarea>
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button class="btn btn-danger" asp-action="Borrar" asp-route-id="@Model.Id">Borrar</button>
            <a class="btn btn-secondary" href="@linkCancelar">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script>

    <script>
        const urlObtenerCategorias = '@Url.Action("ObtenerCategorias")';

        $(function () {
            //function que cambia las categorias del formulario cuando se cambia el tipo de operacion
            InicializarFormularioTransacciones(urlObtenerCategorias);
        })
    </script>
}
